pycurl
apscheduler
oss2
psutil
nonebot
gevent>=20.9.0
flask>=1.1.2
wtforms>=2.3.3
requests>=2.25.0
pytz>=2020.4
pymysql>=0.10.1
pyyaml>=5.3.1
pydes>=2.0.1
crypto>=1.4.1
environs>=9.2.0
loguru>=0.5.3
email_validator
fake-useragent